body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-modern{
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.4s;
    
}
.btn-modern:hover{
    transform: translateY(-5px);
    background-color: greenyellow;
    color: white;
    box-shadow:  0 5px 10px rgb(192, 215, 157);
}