div{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}
/* Posicionamiento relativo - se posiciona en relacion al posicionamiento original */
.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}

.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}

.absolute{
    position: absolute;
    bottom: 30px;
    right: 0px; 
}

.relative.contenedor{
    width: 300px;
    height: 400px;
    background-color: blue;
}
/* posicionamiento pegajoso - al hacer scroll modifica su posicionamiento relative->fixed */
.sticky{
    position: sticky;
    background-color: darksalmon;
    color: white;
    bottom: 0px;

}