.secciones{
    display: flex;
    flex-grow: 1;
    min-height: 5rem;
    min-width: 5rem;
}
.seccion-1{
    width: 50vw;
}
.seccion-2{
    width: 50vw;
    align-self: center;
}

@media (max-width:640px) {
    .secciones{
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .seccion-1{
        justify-content: space-around;
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
    }
}